@use "../../variables.scss" as vars;

.candidates-table{
    /*overflow-x: scroll;*/
    background-color: white;
    border-radius: 20px;
    box-shadow: -5px 5px 15px 2px rgba(136, 136, 136, 0.3);
    .column{
        padding: 10px 15px;
        width: 180px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        .column{
            color: vars.$color-1;
            font-weight: 700;
        }
    }
    .body{
        .row{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            border-top: 1px solid vars.$default-color-1;
        }
    }
}