@use "../../variables.scss" as vars;

.candidate-dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    .card{
        .item{
            background-color: white;
            border-radius: 12px;
            border:1px solid vars.$color-1;
            padding:6px;
            margin-bottom:10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: 0.3s;
            .name{
                font-weight: 700;
                font-size: 18px;
            }
            .status{
                padding: 4px;
                background-color: vars.$color-2;
                border-radius: 12px;
                font-size: 13px;
                color: white;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}