@use "../../variables.scss" as vars;


.close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$color-2;
    height: 30px;
    width: 30px;
    font-weight: 700;
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}