@use "../../variables.scss" as vars;

.candidate-questionnaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  .candidate-bar {
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid vars.$color-1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.3);
    .candidate-name {
      width: 20%;
    }
    .questionnaire-progress {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      justify-content: center;
      gap: 5px;
      .assessment-name {
        font-weight: 700;
      }
    }
    .stop-button {
      width: 20%;
    }
  }
}

.assessment-completed {
  padding: 20px;
  max-width: 700px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1000px) {
  .candidate-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    .candidate-name{
      width: 100% !important;
      display: flex;
      justify-content: center;
    }
    .questionnaire-progress{
      width: 100% !important;
    }
    .stop-button{
      width: 100% !important;
      display: flex;
      justify-content: center;
    }
  }
}
