$color-1:#003056;
$color-1-1:#1A2B38;
$color-1-2:#00D6ED;
$color-2:#df5700;
$color-2-1:#df5700;
$color-3:#ff6b6b;

$default-color-1:#838383;
$default-color-1-1:#e8e8e8;

$title-color-1: #202020;
$subtitle-color-1: #646464;

$body-color: #646464;
$soft-hover-color:#f0f0f0;

